/* Navbar container */
.nav {
    background-color:transparent;
    padding: 15px 0;
    
    display: flex;
    justify-content: space-between; /* Align items to left and right */
    align-items: center; /* Center items vertically */
    margin-left: 30%;
}

/* Navbar links */
.nav a {
    color: #080707;
    font-size: 65%;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

/* Underline effect on hover and focus */
.nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: all 0.3s ease;
}

.nav a:hover::after,
.nav a:focus::after,
.nav a.active::after {
    background-color: #343333;
}

/* Active link styling */
.nav .nav-link.active {
    font-weight: 700;
}

/* Navbar items */
.nav .nav-item {
    margin-right: 20px;
    font-size: 150%;
}

/* Dropdown menu */
.nav .dropdown-menu {
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.nav .dropdown-item {
    color: #1c1a1a;
    padding: 8px 20px;
}

.nav .dropdown-item:hover {
    background-color: #121313;
}

.nav .dropdown-menu a:hover {
    background-color: #f8f9fa;
}

.nav .dropdown-menu .dropdown-item.active,
.nav .dropdown-menu .dropdown-item:active {
    background-color: #f8f9fa;
}

/* Profile icon */
.profile1 {
    width: 5%;
}

/* Hamburger icon */
.hamburger-icon {
    color: #080707;
    font-size: 24px;
    cursor: pointer;
    margin-right: 60px;
}
